.container{
     color: blueviolet;
    background-color: cornflowerblue;
    border: 3px solid rebeccapurple;
    padding: 20px 30px;
    font-size: 45px;
}
.box{
     color: blueviolet;
    background-color: cornflowerblue;
    border: 3px solid rebeccapurple;
    padding: 20px 30px;
    font-size: 45px;
}
.BOX{
     color: blueviolet;
    background-color: cornflowerblue;
    border: 3px solid rebeccapurple;
    padding: 20px 30px;
    font-size: 45px;
}
.Curries{
     color: blueviolet;
    background-color: cornflowerblue;
    border: 3px solid rebeccapurple;
    padding: 20px 30px;
    font-size: 45px;
}
.Rices{
     color: blueviolet;
    background-color: cornflowerblue;
    border: 3px solid rebeccapurple;
    padding: 20px 30px;
    font-size: 45px;
}